In [1]:
import re
import json
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/WA_Fn-UseC_-Telco-Customer-Churn.csv")

# Rename column names

In [3]:
df.columns = df.columns.str.strip().str.replace(r'([a-z0-9])([A-Z])', r'\1_\2', regex=True).str.lower()

# Clean data

In [4]:
# Handle missing values
df = df.replace({None: np.nan, ' ': np.nan, '': np.nan})

rows_with_nan = df.isna().any(axis=1).sum()
print("Total rows with NaN values: ", rows_with_nan)
print("Total rows with NaN values ratio: ", rows_with_nan / len(df))
df.dropna(inplace=True)

Total rows with NaN values:  11
Total rows with NaN values ratio:  0.001561834445548772

In [5]:
df["total_charges"] = df["total_charges"].astype(float)
df["senior_citizen"] = df["senior_citizen"].astype("category")
# df["tenure"] = df["tenure"].astype(float)

In [6]:
df.describe()

            tenure  monthly_charges  total_charges
count  7032.000000      7032.000000    7032.000000
mean     32.421786        64.798208    2283.300441
std      24.545260        30.085974    2266.771362
min       1.000000        18.250000      18.800000
25%       9.000000        35.587500     401.450000
50%      29.000000        70.350000    1397.475000
75%      55.000000        89.862500    3794.737500
max      72.000000       118.750000    8684.800000

In [7]:
df.describe(exclude=np.number)

,customer_id,gender,senior_citizen,partner,dependents,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,churn
count,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032
unique,7032,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,2
top,7590-VHVEG,Male,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,No
freq,1,3549,5890,3639,4933,6352,3385,3096,3497,3087,3094,3472,2809,2781,3875,4168,2365,5163

In [8]:
for column in df.select_dtypes(exclude=np.number):
    if column == "customer_id":
        continue
    df[column] = df[column].astype("category")

In [9]:
df.dtypes

customer_id            object
gender               category
senior_citizen       category
partner              category
dependents           category
tenure                  int64
phone_service        category
multiple_lines       category
internet_service     category
online_security      category
online_backup        category
device_protection    category
tech_support         category
streaming_tv         category
streaming_movies     category
contract             category
paperless_billing    category
payment_method       category
monthly_charges       float64
total_charges         float64
churn                category
dtype: object

In [10]:
df.to_csv("../data/telecom_customer_churn_cleaned.csv", index=False)

dtype_dict = df.dtypes.apply(lambda x: str(x)).to_dict()
with open("../data/telecom_customer_churn_cleaned_dtypes.json", 'w') as json_file:
    json.dump(dtype_dict, json_file)